extends layout

block content
  h1= company.toUpperCase()
  hr
  h2 Information
  a(style={color: 'blue'} href= url) Website
  hr
  h2 Medicare Advantage
  h3 
     a(style={color: 'blue'}) Medical Policies
  h3
     a(style={color: 'blue'}) Precertification List
  hr
  h2 Commercial
  h3
     a(style={color: 'blue'} href=company + '/medical-policies') Medical Policies

  h3
     a(style={color: 'blue'} href=company + '/precertification') Precertification List
  hr