extends layout

block content
  h2= policy.policy_title + " (" + company + ")"
  hr
  table(style='width:20%; table-layout:fixed')
    tr
      td Company
      td= company
    tr
      td Policy Number
      td= policy.policy_number
    tr
      td Last Review Date
      td= policy.last_review_date
    tr
      td Next Review Date
      td= policy.next_review_date
    tr
      td
        a(style={color: 'blue'} href=policy.policy_url) Link

  // p= policy.policy_text

  if cptCodes
    h3 CPT Codes
    table(style='width:75%; table-layout:fixed')
      th(align='left') Code
      th(align='left') Medically Necessary
      th(align='left') Precertification
      th(align='left') Description
      for item in cptCodes
        tr(align='center')
          td(align='left') #{item.cpt_code}
          td(align='left') #{String(Boolean(item.medically_necessary))}
          td(align='left') #{String(Boolean(item.pa_required))}
          td(align='left') #{String(item.description).toLowerCase()}

  if hcpcsCodes
    h3 HCPCS Codes
    table(style='width:75%; table-layout:fixed')
      th(align='left') Code
      th(align='left') Medically Necessary
      th(align='left') Precertification
      th(align='left') Description
      for item in hcpcsCodes
        tr(align='center')
          td(align='left') #{item.hcpcs_code}
          td(align='left') #{String(Boolean(item.medically_necessary))}
          td(align='left') #{String(Boolean(item.pa_required))}
          td(align='left') #{String(item.description).toLowerCase()}

  if icd10Codes
    h3 ICD 10 Diagnosis Codes
    table(style='width:75%; table-layout:fixed')
      th(align='left') Code
      th(align='left') Medically Necessary
      th(align='left') Precertification
      th(align='left') Description
      for item in icd10Codes
        tr(align='center')
          td(align='left') #{item.icd10_diag_code}
          td(align='left') #{String(Boolean(item.medically_necessary))}
          td(align='left') #{String(Boolean(item.pa_required))}
          td(align='left') #{String(item.description).toLowerCase()}