extends layout

block content
  h1 Precertification List
  table(style='width:100%; table-layout:fixed')
    tr
      td
      td
         form(method='POST' action='/' + company + '/precertification/search')
           div.form-group
             label(for= 'text') Search 
             input(id='searchterm', type='text', value='', placeholder='...', name='searchterm')
  if cptCodes
    h2 CPT Codes
    hr  
    table(style='width:80%; table-layout:fixed')
      th(align='left') Code
      th(align='left') Medically Necessary
      th(align='left') Description
      for item in cptCodes
        tr(align='center')
          td(align='left') #{item.cpt_code}
          td(align='left') #{String(Boolean(item.medically_necessary))}	
          td(align='left') #{String(item.description).toLowerCase()}

  if hcpcsCodes
    h2 HCPCS Codes
    hr  
    table(style='width:80%; table-layout:fixed')
      th(align='left') Code
      th(align='left') Medically Necessary
      th(align='left') Description
      for item in hcpcsCodes
        tr(align='center')
          td(align='left') #{item.hcpcs_code}
          td(align='left') #{String(Boolean(item.medically_necessary))}
          td(align='left') #{String(item.description).toLowerCase()}
	  
  if (!hcpcsCodes & !cptCodes)
    h3 No results found