extends layout

block content
  h2= company + ' ' +  type + ' Policies'

  table(style='width:100%; table-layout:fixed')
    tr
      td
         a(href= toggleUrl)
           button(type="button") #{toggleText}
      td
         form(method='POST' action='/' + company.toLowerCase() + '/medical-policies/search')
           div.form-group
             label(for= 'text') Search 
             input(id='searchterm', type='text', value='', placeholder='...', name='searchterm')
  
  if results
    table(style='width:100%')
      for item in results
        tr
          td
             a(style={color: 'blue'} href='/' + company.toLowerCase() + '/medical-policies/' + item.policy_id) #{item.policy_title}
  else
    h4 No results found